<% provide(:title, '') %>

<% if @recipes.length > 0 %>

	<% @recipes.each do |recipe| %>
		<%= link_to recipe_path(recipe) do %>
			<div class="recipe-img img-hide">
				<%= filepicker_image_tag recipe.filepicker_url %>
			</div>
		<% end %>
	<% end %>

	<div class="center">
		<%= will_paginate @recipes %>
	</div>

<% end %>