<% provide(:title, "Sign in") %>

<div class="main-padding signin-form">
	<%= form_for(:session, url: sessions_path) do |f| %>
		<%= f.text_field :email, placeholder: "email", class: "input-large" %>
		<br>
		<br>
		<%= f.password_field :password, placeholder: "password", class: "input-large" %>
		<br>
		<br>
		<%= f.submit "Sign in", class: "btn btn-default btn-lg" %>
	<% end %>
</div>