<div class="new-comment-section">
	<div class="current-user-img">
		<%= filepicker_image_tag User.where(id: comment.user_id).first.img, w: 70, h: 70, fit: 'clip' %>
	</div>
	<div class="comment-form-wrapper">
		<div class="content">
			<%= comment.content %>
			<div class="date">
				<%= comment.created_at.strftime("%D") %>
			</div>
		</div>
	</div>
	<div style="clear:both;"></div>
</div>