<div class="new-comment row show-comment">
	<div class="comment-image col-md-1">
		<%= filepicker_image_tag User.where(id: comment.user_id).first.filepicker_url, w: 50, h: 50, fit: 'clip' %>
	</div>

	<div class="comment-form col-md-11">
		<div class="content">
			<%= comment.content %>
		</div>

		<div class="created-at">
			<%= comment.created_at.strftime("%D") %>
		</div>
	</div>
</div>