<div class="single-article" id="new-article-wrapper">
	<div class="article-img">
		<%= filepicker_image_tag article.img, w: 110, h: 110 if article.img? %>
	</div>
	<div class="article-name article-node">
		<label>Name</label><br>
		<%= best_in_place article, :name %>
	</div>
	<div class="article-price article-node">
		<label>Price</label><br>
		<%= best_in_place article, :price, label: "Price ($)" %>
	</div>
	<div style="clear:both;"></div>
	<div class="delete-article">
		<%= link_to raw("<span class='fontawesome-remove'></span>"), article, method: :delete, remote: true %>
	</div>
</div>