<a class="left carousel-control" href="#recipe-images" data-slide="prev">
  <div class="fontawesome-chevron-left"></div>
</a>
<a class="right carousel-control" href="#recipe-images" data-slide="next">
  <div class="fontawesome-chevron-right"></div>
</a>