<% provide(:title, 'All recipes') %>

<h1 class="index-header">
	All recipes
	<span class="pull-right"><%= link_to "[ new ]", new_recipe_path, class: "new-btn" %></span>
</h1>

<% if @recipes.length > 0 %>	

	<div class="center">
		<%= will_paginate %>
	</div>

	<table class="index-table">
		<tbody>
			<%= render @recipes %>
		</tbody>
	</table>

	<div class="center">
		<%= will_paginate %>
	</div>

<% end %>