<% provide(:title, 'All recipes') %>
<h1 class="index-header">All recipes</h1>

<% if @recipes.length > 0 %>	

	<div class="center">
		<%= will_paginate %>
	</div>

	<table class="index-table">
		<tbody>
			<%= render @recipes %>
		</tbody>
	</table>

	<div class="center">
		<%= will_paginate %>
	</div>

<% end %>