<div class="main-padding">
	<div class='input-group recipe-search'>
		<input type="text" class="form-control input-lg" placeholder="Search recipes by name or ingredient">
		<span class="input-group-btn">
			<button class="btn btn-default">Search</button>
		</span>
	</div>

	<div id="your-recipes-list">

		<% @recipes.each do |recipe| %>
		<div class="row recipe-row">
			
			<!-- input recipe images -->

			<div class="recipe-name">
				<%= recipe.name %>
			</div>
			<div style="clear:both;"></div>
		</div>
		<% end %>

	</div>
</div>