<tr>
	<td>
		<% if user.filepicker_url %>
	  	<%= filepicker_image_tag user.filepicker_url, w: 60, h: 60, fit: 'clip' %>
  	<% end %>
  </td>
  <td>
  	<%= link_to user.name, user %>
  </td>
  <td>
	  <% if current_user.admin? && !current_user?(user) %>
	    <%= link_to "delete", user, method: :delete,
	                                  data: { confirm: "Sure you want to delete #{user.name}?" } %>
	  <% end %>
	</td>
</tr>