<% provide(:title, 'All users') %>

<% if @users.length > 0 %>

	<div class="header">
		<h1>All Users</h1>
		<h2>[ <%= @users.count %> ]</h2>
	</div>

	<table class="position-table pure-table pure-table-horizontal">
		<thead>
			<tr>
				<th>Image</th>
				<th>Name</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<%= render @users %>
		</tbody>
	</table>

<% end %>