<% provide(:title, 'All users') %>
<h1 class="index-header">All users</h1>

<% if @users.length > 0 %>

	<div class="center">
		<%= will_paginate %>
	</div>

	<table class="index-table">
		<tbody>
			<%= render @users %>
		</tbody>
	</table>

	<div class="center">
		<%= will_paginate %>
	</div>

<% end %>