<% provide(:title, @user.name) %>

<!-- dashboard container -->

<div id="dashboard-container">
	
	<!-- side navbar -->

	<div id="side-navbar">
		<div class="business-name">
			<%= @user.name %>
		</div>
		<div class="side-item">
			<span class="fontawesome-calendar"></span>
			What's due?
		</div>
		<div class="side-item">
			<span class="fontawesome-user"></span> Customers
		</div>
		<div class="side-item">
			<span class="fontawesome-list"></span>
			Articles
		</div>
	</div>

	<!-- where the action happens -->

	<div id="main-container">
		<%= render 'articles/dashboard_articles' %>
	</div>
</div>