<li>
	<div class="ingredient-row row">
		<div class="col-md-1" style="max-width: 20px;">
			<i class="fa fa-check"></i>
		</div>

		<div class="col-md-11">
			<%= best_in_place ingredient, :name %>
		</div>
</li>