<% if @ingredients.any? %>
	<table class="pure-table pure-table-horizontal position-table full-width">
		<tr>
			<th>Quantity</th>
			<th>Description</th>
			<th>Actions</th>
		</tr>
		<% @ingredients.each do |ingredient| %>
			<tr>
				<td><%= ingredient.quantity %></td>
				<td><%= ingredient.title %></td>
				<td>
					<%= link_to "edit", edit_ingredient_path(ingredient) %> / 
					<%= link_to "delete", ingredient, method: :delete, remote: true, title: "Delete ingredient", data: { confirm: "Sure you want to delete #{ingredient.title}?" } %>
				</td>
			</tr>
		<% end %>
	</table>
<% end %>