<li>
	<span class="fontawesome-ok"></span> 
	<%= best_in_place ingredient, :name %>
	<%= link_to "remove ingredient", ingredient, method: :delete, remote: true, class: "remove-ingredient", style: "display: none;" %>
</li>