<div id="order-container" class="basic-container">
	<ul>
	<% current_user.orders.each do |order| %>
		<li>
			<%= order.id %>
			<%= order.total_price %>
			<%= Customer.where(id:order.customer_id)[0].first_name %> <%= Customer.where(id:order.customer_id)[0].last_name %>
		</li>
	<% end %>
	</ul>
</div>