<div class="pickup-button" style="min-width:125px !important;">
	<%= link_to "Picked Up", save_pickup_date_order_path(order), class: "orange-button button pickup-button-action", remote: true %>
</div>