<% @i += 1 %>

<div class="pure-g-r">
	<div class="pure-u-5-8 image-width">
	<% if step.filepicker_url? %>
		<%= filepicker_image_tag step.filepicker_url %>
	<% end %>
	</div>
	<div class="pure-u-3-8">
		<div class="header">
			<h1><%= @i.to_s %>.</h1> 
			<h4 style="font-weight: 100;"><%= step.description %></h4>
		</div>
	</div>
</div>