/**********

SIGNED OUT

**********/

#sign-up-section{
	background-size: 100%;
	position: relative;
	background: url("pho.jpg");
	height: 800px;
	background-repeat: no-repeat;

	img, .taglines, .signup-form, .learn-more{
		position: absolute;
	}

	img{
		width: 100%;
		height: auto;
		top: 0;
		pointer-events: none;
	}

	.taglines{
		text-align: center;
		width: 100%;
		top: 60px;

		.tag-h1{
			font-size: 40px;
			line-height: 40px;
			font-weight: 300;
			color: white;
			-webkit-font-smoothing: antialiased;
			padding-bottom: 20px;
			opacity: 0.85;
		}

		.tag-h2{
			font-size: 20px;
			line-height: 28px;
			font-weight: normal;
			color: white;
			-webkit-font-smoothing: antialiased;
			opacity: 0.7;
		}
	}

	.signup-form{
		top: 210px;
		width: 100%;

		.signup-section{
			color: #444444;
			font-size: 11px;
			letter-spacing: 1px;
			font-weigh: 700;
			text-transform: uppercase;
			background: white;
			width: 400px;
			margin-left: auto;
			margin-right: auto;
			border-bottom: 1px solid #e5e5e5;
			padding: 20px;
			box-sizing: border-box;

			input, label{
				border: 0px;
			}

			input{
				width: 100%;
			}
		}

		.name-section{
			border-radius: 2px 2px 0px 0px;
			-webkit-border-radius: 2px 2px 0px 0px;
			-moz-border-radius: 2px 2px 0px 0px;
		}

		.signup-footer{
			width: 400px;
			margin-left: auto;
			margin-right: auto;
			background: #f8f8f8;
			padding: 20px;
			box-sizing: border-box;
			-webkit-border-radius: 0 0 2px 2px;
			-moz-border-radius: 0 0 2px 2px;
			border-radius: 0 0 2px 2px;

			.login, .login-link{
				display: inline;
				font-size: 13px;
				font-weight: 600;
				float: left;
				padding-top: 10px;
			}

			.login{
				color: rgb(158, 158, 158);
				padding-right: 2px;
			}

			.login-link{
				color: rgb(82, 150, 185);
				&:hover{
					text-decoration: none;
				}
			}

			input{
				background: rgb(235, 86, 53);
				border: 1px solid rgb(235, 86, 53);
				color: white;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
				font-size: 13px;
				font-weight: 600;
				padding: 10px 30px;
				float: right;

				&:hover{
					border: 1px solid #dd4e26;
					background: #dd4e26;
				}
			}
		}
	}

	.learn-more{
		top: 640px;
		width: 100%;
		text-align: center;

		.learn-more-button{
			cursor: pointer;
			width: 130px;
			margin-left: auto;
			margin-right: auto;

			a{
				color: white !important;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
}

#learning-section{
	background: white;
	padding: 150px 0px;

	.learning-subtitle{
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 1px;
		text-align: center;
		font-weight: 700;
		color: #9e9e9e;
		padding-bottom: 25px;
	}

	.learning-title{
		color: #444444;
		font-size: 40px;
		font-weight: 300;
		text-align: center;
		line-height: 40px;
		margin-bottom: 60px;
	}

	.learning-video-button{
		text-align: center;
		span{
			font-size: 80px;
			cursor: pointer;

			&:hover{
				color: rgba(68,68,68,0.8);
			}
		}
	}
}

#do-it{
	padding: 80px 0px;

	.do-it-subtitle{
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 1px;
		text-align: center;
		font-weight: 700;
		color: #9e9e9e;
		padding-bottom: 35px;
	}

	.do-it-signup{
		font-size: 20px;
		font-weight: 400;
		color: #444444;
		line-height: 28px;
		text-align: center;
	}

	#do-it-signup-button{
		text-align: center;
		margin-top: 50px;
		margin-bottom: 20px;

		.orange-button{
			background: rgb(235, 86, 53);
			border: 1px solid rgb(235, 86, 53);
			color: white;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			font-size: 13px;
			font-weight: 600;
			padding: 13px 40px;
			-webkit-font-smoothing: antialiased;

			&:hover{
				border: 1px solid #dd4e26;
				background: #dd4e26;
				text-decoration: none;
			}
		}
	}
}


/**********

SIGNED IN

**********/

#spinning-wheel{
	width: 70px;
	height: 10px;
	background: black;
	margin-left:auto;
	margin-right: auto;
	margin-top: 200px;
	border: 1px solid black;
}

#home-container{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	visibility: hidden;

	a{
		color: black;
		&:hover{
			text-decoration: none;
			color: rgba(0,0,0,0.6);
		}
	}

	.home-item{
		width: 400px;
		padding-top: 40px;
		padding-bottom: 40px;
		border-top: 1px solid #ccc;

		&:nth-child(3n+2){
			border-left: 1px solid #ccc;
			border-right: 1px solid #ccc;
		}

		&:nth-child(1), &:nth-child(2), &:nth-child(3){
			border-top: 0px;
		}
	}
	
	.home-image, .home-name, .home-time, .home-user-name, .story, .upvote{
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}

	.home-image {
		img{
			width: 100%;
		}
	}

	.home-name, .home-time, .home-user-name{
		font-size: 13px;
	}


	.home-name{
		margin-top: 15px;
		font-weight: bold;
	}

	.home-time, .home-user-name{
		font-style: italic;
		color: rgba(0,0,0,0.6);
	}

	.home-user-name{
		margin-bottom: 15px;
	}

	.story{
		font-size: 16px;
	}

	.upvote{
		margin-top: 30px;
		.upvote-link{
			text-transform: uppercase;
			font-weight: 200;
			font-size: 11px;
			background: black;
			color: white;
			padding: 5px 10px !important;
			margin-right: 10px;

			&:hover{
				background: rgba(0,0,0,0.8);
			}
		}
	}
}