.ch-info-back img{
	width: 35px;
	height: 35px;
	border-radius: 3px;
	margin-top: 30px;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'matilderegular' !important;
}

.l-box {
  padding: 2em;
}

.header .pure-menu {
  border-bottom-color: black;
  border-radius: 0;
}

.photo-box, .text-box {
  overflow: hidden;
  position: relative;
  height: 363px;
  text-align: center;
}

#matilde-head{
	padding-top: 60px;
	font-size: 60px;
}

.photo-box-thin {
  height: 120px;
}


.photo-box aside {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1em 0.5em;
  color: white;
  width: 100%;
  font-size: 80%;
  text-align: right;
  background: -moz-linear-gradient(top,  rgba(16,27,30,0) 0%, rgba(12,2,2,1) 90%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(16,27,30,0)), color-stop(90%,rgba(12,2,2,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00101b1e', endColorstr='#0c0202',GradientType=0 ); /* IE6-9 */

}

.photo-box aside span {
  color: #aaa;
}

.photo-box aside span a {
  color: #ccc;
  text-decoration: none;
}

.text-box {
  background-image:url('chalkboard.jpg');
  color: rgb(255, 190, 94); /* steel blue */
}

.text-box-head {
  color: #fff;
  padding-bottom: 0.2em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 24px;
}

.text-box-subhead {
  font-size: 160% !important;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.form-box {
  text-align: center;
  font-size: 120%;
  border-bottom: 1px solid #eee;
}

.form-box .pure-button {
  background-color: #61B842;
  color: white;
  vertical-align: top;
  font-size: 85%;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-radius: 4px;
  margin: 0.3em;
}
.pure-form input[type] {
  margin: 0.3em auto;
  text-align: center;
}

.footer {
  background: #111;
  color: #666;
  text-align: center;
  padding: 1em;
  font-size: 80%;
}

@media (min-width: 30em) {
  .photo-box, .text-box {
      text-align: left;
  }

  .photo-box-thin {
      height: 363px;
  }
}

.photo-box aside {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 1em 0.5em;
	color: white;
	width: 100%;
	font-size: 80%;
	text-align: right;
	background: -moz-linear-gradient(top, rgba(16,27,30,0) 0%, rgba(12,2,2,1) 90%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(16,27,30,0)), color-stop(90%,rgba(12,2,2,1)));
	background: -webkit-linear-gradient(top, rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%);
	background: -o-linear-gradient(top, rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%);
	background: -ms-linear-gradient(top, rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%);
	background: linear-gradient(to bottom, rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00101b1e', endColorstr='#0c0202',GradientType=0 );
}

.text-box {
	font-family: 'matilderegular' !important;
	overflow: hidden;
	position: relative;
	height: 363px;
	text-align: center;
}

.photo-box, .text-box {
	overflow: hidden;
	position: relative;
	height: 363px;
	text-align: center;
}

.l-box {
	padding: 2em;
}

.red{
	background: rgb(193,89,89); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(193,89,89,1) 0%, rgba(193,67,67,1) 40%, rgba(198,18,17,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(193,89,89,1)), color-stop(40%,rgba(193,67,67,1)), color-stop(100%,rgba(198,18,17,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(193,89,89,1) 0%,rgba(193,67,67,1) 40%,rgba(198,18,17,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(193,89,89,1) 0%,rgba(193,67,67,1) 40%,rgba(198,18,17,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(193,89,89,1) 0%,rgba(193,67,67,1) 40%,rgba(198,18,17,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(193,89,89,1) 0%,rgba(193,67,67,1) 40%,rgba(198,18,17,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c15959', endColorstr='#c61211',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.pink{
	background: rgb(224,125,125); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(224,125,125,1) 0%, rgba(224,100,100,1) 40%, rgba(228,60,59,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(224,125,125,1)), color-stop(40%,rgba(224,100,100,1)), color-stop(100%,rgba(228,60,59,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(224,125,125,1) 0%,rgba(224,100,100,1) 40%,rgba(228,60,59,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(224,125,125,1) 0%,rgba(224,100,100,1) 40%,rgba(228,60,59,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(224,125,125,1) 0%,rgba(224,100,100,1) 40%,rgba(228,60,59,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(224,125,125,1) 0%,rgba(224,100,100,1) 40%,rgba(228,60,59,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e07d7d', endColorstr='#e43c3b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.light-pink{
	background: rgb(255,202,193); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,202,193,1) 0%, rgba(255,194,183,1) 40%, rgba(255,159,140,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,202,193,1)), color-stop(40%,rgba(255,194,183,1)), color-stop(100%,rgba(255,159,140,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,202,193,1) 0%,rgba(255,194,183,1) 40%,rgba(255,159,140,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,202,193,1) 0%,rgba(255,194,183,1) 40%,rgba(255,159,140,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,202,193,1) 0%,rgba(255,194,183,1) 40%,rgba(255,159,140,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(255,202,193,1) 0%,rgba(255,194,183,1) 40%,rgba(255,159,140,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcac1', endColorstr='#ff9f8c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.creme{
	background: rgb(255,253,249); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,253,249,1) 0%, rgba(255,249,234,1) 40%, rgba(255,247,222,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,253,249,1)), color-stop(40%,rgba(255,249,234,1)), color-stop(100%,rgba(255,247,222,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,253,249,1) 0%,rgba(255,249,234,1) 40%,rgba(255,247,222,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,253,249,1) 0%,rgba(255,249,234,1) 40%,rgba(255,247,222,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,253,249,1) 0%,rgba(255,249,234,1) 40%,rgba(255,247,222,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(255,253,249,1) 0%,rgba(255,249,234,1) 40%,rgba(255,247,222,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffdf9', endColorstr='#fff7de',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.upvote-heart img{
	width: 10%;
	height: 10%;
}
.upvote-heart{
	padding-bottom: 10px;;
}