#orderModal .modal-content{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 55px;

	a:hover{
		text-decoration: none;
	}
}

#orderModal .modal-dialog{
	width: 500px;
}

.order-modal-name{
	-webkit-font-smoothing: antialiased;
	letter-spacing: 1px;
	font-size: 11px;
	color: #b2b2b2;
	text-transform: uppercase;
	font-weight: bold;
	padding-bottom: 2px;
}

.order-modal-price{
	font-size: 35px;
}

.order-modal-button{
	cursor: pointer;
	margin-top: 20px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;

	span{
		padding-right: 5px;
	}
}

#order-modal-tag{
	display: none;
	padding-top: 80px;
	padding-bottom: 82px;

	.best_in_place{
		input{
			outline-width: 0px !important;
			border: 0px !important;
			text-align: center !important;
			padding: 0px !important;
		}
	}
}