/**********

PLACE ORDER

**********/

#select-article-section{
	width: 470px;
	float: left;
}

#new-order-item-form{
	width: 150px;
	height: 151px;
	margin-right: 5px;
	margin-bottom: 5px;
	float: left;

	button{
		margin: 0px !important;
		padding: 0px !important;
		border: 0px;

		&:focus{
			outline-width: 0px;
		}
	}
}

.select-article{
	background: white !important;
	padding: 15px 0px !important;
	text-align: center;
	width: 150px;
	float: left !important;
	border: 1px solid #e5e5e5;

	img{
		pointer-events: none;
	}

	&:hover{
		box-shadow: inset 0 1px 3px #ddd;
	}
}

.name{
	-webkit-font-smoothing: antialiased;
	letter-spacing: 1px;
	font-size: 11px;
	color: #b2b2b2;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 10px;
	padding-bottom: 5px;
}

#receipt-section{
	text-align: center;
	float: left;
	width: 393px;
	margin-left: 15px;
	min-height: 600px;
	background: white;
	border: 1px solid #e5e5e5;
	padding: 30px 0px 85px 0px;
	position: relative;

	img{
		border-radius: 150px;
		padding: 10px;
		border: 1px solid #e5e5e5;
		box-shadow: inset 0 1px 3px #ddd;
		pointer-events: none;
	}

	.receipt-name{
		-webkit-font-smoothing: antialiased;
		letter-spacing: 1px;
		font-size: 11px;
		color: #b2b2b2;
		text-transform: uppercase;
		font-weight: bold;
		margin-top: 20px;
		padding-bottom: 15px;
	}

	.receipt-time{
		padding-bottom: 30px;
		border-bottom: 1px solid #e5e5e5;
		margin-bottom: 30px;
	}
}

#checkout-bar{
	position: absolute;
	bottom: 15px;
	left: 15px;

}

.checkout-button{
	cursor: pointer;
	float: right;
	width: 362px;
}


/**********

ORDER MODAL

**********/

#orderModal .modal-content{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 55px;

	a:hover{
		text-decoration: none;
	}

	.best_in_place input{
		outline-width: 0px !important;
		border: 0px !important;
		padding: 0px !important;
		width: 50px;
	}
}

#orderModal .modal-dialog{
	width: 500px;
}

.order-modal-name{
	-webkit-font-smoothing: antialiased;
	letter-spacing: 1px;
	font-size: 11px;
	color: #b2b2b2;
	text-transform: uppercase;
	font-weight: bold;
	padding-bottom: 2px;
}

.order-modal-price{
	font-size: 35px;
}

.order-modal-button{
	cursor: pointer;
	margin-top: 20px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;

	i, span{
		padding-right: 5px;
	}
}

#order-modal-tag{
	display: none;
	padding-top: 70px;
	padding-bottom: 55px;

	.best_in_place{
		input{
			outline-width: 0px !important;
			border: 0px !important;
			text-align: center !important;
			padding: 0px !important;
		}
	}
}

.store-credit-button{
	width: 275px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.order-modal-footer{
	display: none; 
	text-align: center !important; 
	padding: 0px !important;
	border: 0px !important;
}


/**********

RACK ORDER LIST

**********/

#rack-order-list{
	margin: 0px;
	padding: 0px;
}

.rack-wrap{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	display: none;
}

.search-rack-order{
	height: 42px;
	width: 100%;
	padding: 0.5em 0.6em;
	border: 1px solid #e5e5e5;
	font-size: 13px;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	color: rgb(68,68,68);
	-webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-top: 20px;

	&:focus{
		outline: thin;
		border-color: rgba(85, 151, 183, 1.0);
		-webkit-transition: 0.3s;
	  -moz-transition: 0.3s;
	  -o-transition: 0.3s;
	  transition: 0.3s;
	}
}

.rack-order-nav{
	margin-top: -5px;
	padding-bottom: 20px;

	span{
		line-height: 20px;
		cursor: pointer;
	}
}

.order-number{
	box-shadow: inset 0 1px 3px #ddd;
	border: 1px solid #e5e5e5;
	padding: 10px;
	border-radius: 150px;
	width: 150px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	font-size: 35px;
	font-weight: bold;
	padding-top: 50px;
}

.order-info{
	text-align: center;
	min-height: 600px;
	background: white;
	border: 1px solid #e5e5e5;
	padding: 30px 0px;

	.rack-order-name{
		-webkit-font-smoothing: antialiased;
		letter-spacing: 1px;
		font-size: 11px;
		color: #b2b2b2;
		text-transform: uppercase;
		font-weight: bold;
		margin-top: 15px;
		padding-bottom: 15px;
	}

	.rack-order-date{
		color: rgb(110, 110, 110);
		font-size: 14px;
		line-height: 20px;
		padding-bottom: 30px;
		border-bottom: 1px solid #e5e5e5;
		margin-bottom: 30px;

		.best_in_place{
			input{
				outline-width: 0px !important;
				border: 0px !important;
				padding: 0px !important;
				width: 30px;
			}
		}
	}
}

.order-item{
	margin-top: 20px;

	.best_in_place{
		input{
			width: 20px;
			border: 0px;

			&:focus{
				outline-width: 0px;
			}
		}
	}
}


/**********

RACK IT

**********/

#rack-container{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.rack-search-field{
	width: 400px;
	margin-bottom: 40px !important;
}

.rack-field{
	width: 400px;
	margin-bottom: -5px;
}



/**********

CUSTOMER RECEIPT + BUSINESS RECEIPT

**********/

.customer-receipt, .business-receipt{
	position: absolute;
	width: 100%;
	height: 100%;
	background: white;
	border: 1px solid #e5e5e5;
	text-align: center;

	.business-details{
		border-bottom: 1px solid #e5e5e5;
		background: #f8f8f8;
		padding: 30px 15px;

		.current-user-name, .current-user-address, .current-user-phone{
			color: rgb(110, 110, 110);
		}

		.current-user-name{
			border-bottom: 2px solid rgba(0, 0, 0, 0.1);
			font-weight: bold;
			font-size: 13px;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			padding-bottom: 5px;
		}

		.current-user-address{
			padding-top: 15px;
		}

		.current-user-phone{

		}
	}

	.order-details{

		.order-number{
			margin-top: 60px;
			color: black;
		}

		.customer-name{
			margin: 30px 0px 25px 0px;
			font-weight: bold;
			color: black;
		}

		.order-items{
			padding: 0px 0px 55px 0px;
			.single-order-item{
				padding-top: 5px;
				padding-bottom: 5px;
				color: black;
			}
		}
	}

	.pickup-details{
		border-top: 1px solid #e5e5e5;
		background: #f8f8f8;
		padding: 15px;

		.customer-name, .order-total-price{
			color: #6e6e6e;
			font-weight: bold;
		}
	}
}

.tag-number-section{
	border-bottom: 1px solid #e5e5e5;
	background: #f8f8f8;
	padding: 15px;

	.tag-number, .tag-label{
		color: #6e6e6e;
		font-weight: bold;
	}
}

.order-barcode{
	margin-top: 25px;
	height: 40px;
	overflow: hidden;
	svg{
		height: 100px;
	}
}


/**********

ORDER INDEX PAGE

**********/

#order-container{
	.pagination{
		margin: 2px 0px 0px 0px;
	}
}