.pure-menu-selected{
	color: #fbfdfc !important;
	background: #29893C !important;
	&:hover{
		color: #fbfdfc !important;
		background: #29893C !important;
	}
}

.pure-menu{
	text-transform: capitalize;
}

#menu .pure-menu-heading{
	padding-top: 30px;
	padding-bottom: 30px;
}

textarea{
	min-width: 198px;
	min-height: 100px;
}