/**********

RECIPE SHOW

**********/


.hidden{
	display: none !important;
}

input:focus, textarea:focus{
	outline-width: 0px !important;
}

/* colors */

$tiger_tooth: #EEE9DE;
$dark_tiger_tooth: #D1D0CB;


/* toolbar to scroll to each section */

#recipe-scroll{
	position:fixed;
	bottom: 0;
	background: $tiger_tooth;
	width: 100%;
	z-index: 20;

	ul{
		width: 100%;
		li{
			text-align: center;
			float: left;
			list-style: none;
			width: 25%;

			a{
				color: $dark_tiger_tooth;
				font-size: 50px;
			}
		}

		.active{
			background: rgb(238, 238, 238) !important;
		}
	}
}

/* carousel, recipe name, and voting */

#images{
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	.recipe-details-section{
		padding: 10px 20px;
		font-size: 25px;
		font-weight: 200;

		.recipe-name{
			float: left;
			margin-right: 20px;
		}

		.recipe-voting{
			a{
				color: rgb(51, 51, 51);
				&:hover{
					text-decoration: none;
					color: rgba(51, 51, 51,0.8)
				}
			}

			.red{
				color: rgb(199,8,8) !important;
				&:hover{
					color: rgba(199,8,8,0.8) !important;
				}
			}
		}
	}

	#recipe-images{
		img{
			width: 100%;
		}

		.carousel-control{
			z-index: 5;
			padding-top: 22%;
			div{
				font-size: 30px;
			}
		}
	}
}

.recipe-image-button{
	z-index: 15;
	color: white;
	font-size: 30px;
	background: rgba(0,0,0,0);
	border: 0px;
	position: absolute;
	top: 75px;
	right: 50px;

	&:hover{
		color: green;
	}

	&:focus{
		outline-width: 0px;
	}
}

.item{
	position: relative;
}

.remove-recipe-image{
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 15;
	color: white;
	font-size: 30px;

	&:hover{
		color: rgb(199,8,8);
		text-decoration: none;
	}
}


/* user name and recipe story */

#story{
	text-align: center;
	padding-top: 130px;
	padding-bottom: 130px;

	img{
		border-radius: 100px;
		width: 180px;
	}
	
	.user-name{
		margin-top: 10px;
		font-size: 30px;
		font-weight: bold;
	}
	
	.date{
		margin-bottom: 30px;
	}
	
	.story{
		width: 500px;
		margin-left: auto;
		margin-right: auto;
		font-size: 20px;
		font-weight: 100;
	}
}


/* ingredients and steps */

#recipe{
	padding-top: 50px;
	padding-bottom: 50px;
	background: url("skulls.png");

	#new-step-form, #new-ingredient-form{
		margin-bottom: 10px;
	}

	.ingredient-section, .step-section{
		float: left;
		width: 38%;
		background: rgba(255,255,255,0.7);
		padding: 60px;
		height: 550px;
		overflow-y: scroll;
		border-radius: 3px;
		
		.ingredient-header, .step-header{
			font-weight: bold;
			font-size: 30px;
			text-align: center;
		}

		.ingredient-header{
			padding-bottom: 10px;
		}

		li{
			margin-top: 20px;
			margin-bottom: 20px;
			line-height: 25px;
		}

		.missing-info{
			font-weight: bold;
			cursor: pointer;
			color: rgba(199,8,8,0.7);

			&:hover{
				color: rgba(199,8,8,0.5);
			}

			.emojicon{
				margin-top: 70px;
				font-size: 30px;
				font-weight: bold;
				text-align: center;
			}

			.emojicon-subtext{
				text-align: center;
				font-size: 20px;
				margin-top: 30px;
				margin-bottom: 30px;
			}
		}

		.ingredient{
			width: 100%;
			padding: 10px;
			margin-top: 20px;
		}
	}

	table{
		td{
			padding-top: 14px;
			padding-bottom: 14px;
		}

		.check-cell{
			vertical-align: top;
			padding-right: 5px;
		}
	}

	.ingredient-section{
		margin-left: 10%;
		margin-right: 1%;

		li{
			list-style: none;
		}
	}

	.step-section{
		margin-right: 10%;
		margin-left: 1%;

		.step-list{
			padding-left: 20px;
		}
	}

	a{
		text-decoration: none;
	}

	.fontawesome-remove{
		color: rgba(199,8,8,0.5);
		&:hover{
			color: rgba(199,8,8,0.3);
		}
	}	
}


/* comments */

#comments{
	margin-bottom: 170px;
	padding-top: 30px;

	.new-comment-section{
		width: 700px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
		margin-bottom: 50px;

	}

	.current-user-img{
		img{
			border-radius: 100px !important;
		}
		float: left;
		width: 10%;
	}

	.comment-form-wrapper{
		float: left;
		width: 90%;
		.content{
			padding-left: 40px;
			padding-top: 10px;

			.date{
				padding-top: 10px;
				color: #ccc;
			}
		}
	}

	#new-comment-form{
		img{
			float: left;
			margin-right: -1px;
			position: relative;
			z-index: 10;
			margin-left: 30px;
		}

		textarea{
			float: left;
			border: 1px solid #ccc;
			-webkit-border-radius: 3px;
			-ms-border-radius: 3px;
			border-radius: 3px;
			-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.05);
			-ms-box-shadow: 0 2px 4px rgba(0,0,0,0.05);
			box-shadow: 0 2px 4px rgba(0,0,0,0.05);
			width: 570px !important;
			height: 100px !important;
			padding: 10px;
			z-index: 0;
			position: relative;

			&:focus{
				outline-width: 0px;
			}
		}

		.new-comment-btn{
			margin: 10px 10px 10px 40px;
			&:focus{
				outline-width: 0px;
			}
		}
	}
}








