/* new recipe */

.new-recipe-header{
	margin: 15px 0px;
	font-size: 45px;
}

.name-section{
	margin-bottom: 35px;
	font-size: 20px;
}

.story-section{
	margin-bottom: 35px;
}

#create-recipe-two, #create-recipe-three, #create-recipe-four, #create-recipe-five{
	margin-left: 100%;
	display: none;
}

.ingredient-section{
	margin-bottom: 35px;
	list-style: none;
	padding-left: 0px;
}

.ingredient-row{
	margin: 10px 0px;
	font-size: 20px;
}

.ingredient, #resize{
	width: 100%;
	border: 0px;
	font-size: 20px;
	border-bottom: 1px dotted #D0D0D0;
	&:focus{
		outline-width: 0px;
	}
}

.add-ingredient-btn{
	margin-top: 6px;
	padding: 3px 5px !important;
	font-size: 11px !important;
}

.recipe-image-section{
	padding-bottom: 15px;
}

.list-photos{
	margin: 10px 0px 25px 0px;

	img{
		border: 1px solid #E8E8E8;
		width: 160px;
		height: 110px;
		margin: 5px 5px 5px 0px;
		float: left;
	}
}

.time-input{
	padding: 0px !important;
	overflow: show;
	border: 0px;
	border-style: dotted;
	width: 200px;
}

.step-section{
	margin-bottom: 35px;
	padding-left: 18px;
	li{
		margin: 15px 0px;
	}
}

#new-step-form{
	div{
		display: none !important;
	}
}


/* your recipes */

.recipe-search{
	margin-bottom: 40px;

	input{
		border: 1px solid rgb(204, 204, 204) !important;
	}
}

.input-group-btn{
	button{
		padding: 12px 20px;
	}
}

#your-recipes-list{
	img{
		float: left;
		margin-left: 15px;
		border: 1px solid #E8E8E8;
		width: 80px;
		height: 55px;
	}

	.recipe-name{
		margin: 15px 15px 15px 110px;
	}
}

.recipe-row{
	margin: 10px 0px;
}