.signin-page-form{
	margin-top: 100px;
}

input:-webkit-autofill{
	background: white !important;
	-webkit-transition: background-color 500ms ease-out 3s;
  -moz-transition: background-color 500ms ease-out 3s;
  -o-transition: background-color 500ms ease-out 3s;
  transition: background-color 500ms ease-out 3s;
	&:focus{
		background: #DCEBF2 !important;
		-webkit-transition: background-color 500ms ease-out 3s;
    -moz-transition: background-color 500ms ease-out 3s;
    -o-transition: background-color 500ms ease-out 3s;
    transition: background-color 500ms ease-out 3s;
	}
}