@import "universal.css.scss";

.toolbar-wrap{
	position: fixed;
	border-top: 3px solid $there_we_could_sail;
	padding: 15px 3%;
	width: 100%;
	bottom: 0;
	background: black;

	a{
		color: white;

		&:hover{
			color: $there_we_could_sail;
		}
	}
}