@import "colors.css.scss";

/* images */

img{
	user-drag: none; 
	-moz-user-select: none; 
	-webkit-user-drag: none;
}

/* transitions */

.transition{
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease;
}

/* flash alerts */

.alert{
	margin-bottom: 0px;
	font-weight: bold;
}

/* main padding */

.main-padding{
	padding: 50px 22.5%;
}

/* blockquote */

blockquote{
	color: #666;
	font-style: italic;
	line-height: 1.8em;
}

/* sign up dude! */

.dude-just-sign-up{
	text-decoration: none !important;

	.header{
		border: 10px solid #191818;
		padding: 30px;
		@extend .transition;
		&:hover{
			@extend .transition;
			background: #29893C;
			h1, h2{
				color: white !important;
			}
		}
	}
}

/* force inline */

.same-line{
  white-space: nowrap;
}


/* links */

a{
	color: $green;
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}


/* flash */

.alert-success{
	background: #c7e6cd;
	color: $green;
	padding: 20px;
}


/* tables */



.position-table{
	width: 60%;
	margin: 30px auto;
}