@import "bootstrap";

/* fontawesome */

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}


/* header */

.navbar{
	background: white;
	border-bottom: 0px;
	margin: 0px;
}