@import "colors.css.scss";
@import "bootstrap";

/* transitions */

.transition{
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease;
}

/* flash alerts */

.alert{
	margin-bottom: 0px;
	font-weight: bold;
	padding: 20px;
}

.alert-success{
	background: #c7e6cd;
	color: $green;
}

.alert-error{
	background: $red;
	color: white;
}

/* errors */

#error_list{
	color: $red;
	padding: 20px;
}

/* padding */

.main-padding{
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 40px;
	padding-bottom: 40px;
}

/* buttons */

.btn{
	&:focus{
		outline-width: 0px !important;
	}
}

/* input */

input:focus{
	outline-width: 0px;
	border: 1px solid rgb(204, 204, 204) !important;
	box-shadow: none !important;
}