/**********

MY RECIPES PAGE

**********/

body{
	margin: 0 auto;
	height: 100%;
	width: 100%;
}

#dashboard-container{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #d6d6d6;
	width: 80%;
	margin-left: 10%;
	margi-right: 10%;
	height: 90%;
	margin-top: 10px;
	position:absolute;
	background: white;
}

#side-navbar{
	height: 100%;
	background-color: #f9f9f9;
	border-right: 1px solid #e5e5e5;
	color: #6e6e6e;
	width: 20%;
	float: left;
}

.business-name{
	padding: 16px 20px;
	border-bottom: 1px solid #e5e5e5;
	background: #fcfcfc;
	font-size: 16px;
	font-weight: 400;
}

#checkout-link{
	background: rgb(85, 151, 183); 
	color: white; 
	border-color: rgb(85, 151, 183);
}

.side-item{
	padding: 14px 20px;
	list-style: none;
	border-bottom: 1px solid #e5e5e5;
	display: inline-block;
	font-size: 13px;
	font-weight: 600;
	width: 100%;
	cursor: pointer;
	-webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;

	&:hover{
		background-color: rgba(85, 151, 183, 1.0) !important;
		border-color: rgba(85, 151, 183, 1.0) !important;
		color: white !important;
		-webkit-transition: 0.3s;
	  -moz-transition: 0.3s;
	  -o-transition: 0.3s;
	  transition: 0.3s;
	}
}

#main-container{
	float: right;
	background: #f9f9f9;
	height: 100%;
	color: #6e6e6e;
	width: 80%;
	padding: 20px;
	overflow-y: scroll;
}

#article-container{
	position: relative;
}

#new-article{
	position: absolute;
	top: 0;
	right: 0;
	background: none;
	color: #9e9e9e;
	border: 2px solid #bdbdbd;
	padding: 10px 15px;
	font-size: 13px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	&:hover{
		background: none;
		color: #828282;
		border: 2px solid #a9a9a9;
		text-decoration: none;
	}
}

#new-article-form{
	display: none;
	margin-bottom: 80px;
}

.article-img, .article-node{
	background: white;
}

.single-article{
	width: 500px;
	height: 150px;
	margin-bottom: 15px;
	position: relative;

	.delete-article{
		position: absolute;
		cursor: pointer;
		top: 0;
		right: -30px;
		span{
			color: #6e6e6e;

			&:hover{
				color: rgba(110, 110, 110, 0.8);
				text-decoration: none;
			}
		}
	}
}

.article-img{
	float: left;
	border: 1px solid #e5e5e5;
	height: 150px;
	width: 150px;

	.article-button{
		width: 110px;
		height: 110px;
		margin: 20px;
		background: white;
		border: 1px solid #e5e5e5;

		&:hover{
			background: #f9f9f9;
		}

		&:focus{
			outline-width: 0px;
			background: #f9f9f9;
			border: 1px solid #e5e5e5;
		}
	}

	.img-added{
		background: #f9f9f9;
		display: none;
		width: 110px;
		padding-top: 44px;
		padding-bottom: 44px;
		text-align: center;
		margin: 20px;
		background: #f9f9f9;
		margin: 20px;
		border: 1px solid #e5e5e5;
	}

	img{
		width: 110px;
		height: 110px;
		margin-left: 20px;
		margin-top: 20px;
		pointer-events: none;
	}
}

.article-name, .article-price{
	-webkit-font-smoothing: antialiased;
	letter-spacing: 1px;
	font-size: 11px;
	font-weight: bold;
	color: #b2b2b2;
	height: 75px;
	width: 350px;
	text-transform: uppercase;
	float: left;
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 15px;

	input{
		width: 100%;
		border: 0px;
		background: rgba(0,0,0,0);
		color: black;
		font-weight: normal;

		&:focus{
			outline-width: 0px;
		}
	}

	label{
		padding-bottom: 5px;
	}

	.best_in_place{
		width: 100%;
		color: black;
		font-weight: normal;
		text-transform: none;

		input{
			letter-spacing: 1px;
			padding: 0px;
		}
	}
}

.article-name{
	border-top: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}

.article-price{
	border-top: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

.orange-button{
	background: rgb(235, 86, 53) !important;
	border: 1px solid rgb(235, 86, 53) !important;
	color: white !important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 13px;
	font-weight: 600;
	padding: 10px 30px;
	-webkit-font-smoothing: antialiased;

	&:hover{
		border: 1px solid #dd4e26 !important;
		background: #dd4e26 !important;
		text-decoration: none !important;
	}

	&:focus{
		outline-width: 0px !important;
	}
}

#order-container, #customer-container, #report-container, #article-container{
	display: none;
}