<section class="main">
  <ul class="ch-grid">
    <li>
      <div class="ch-item ch-img-1">      
        <div class="ch-info-wrap">
          <div class="ch-info">
            <div class="ch-info-front ch-img-1"></div>
            <div class="ch-info-back">
              <h3>Korean Bibimbap</h3>
              <div class="upvote-heart"> <a href="#"><img alt="" src="/assets/spork.png"></a></div>
            </div>  
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>